<!-- src/app/core/components/header/header.component.html -->
<header class="app-header">
    <div class="header-container">
      <div class="logo-container">
        <!-- Lien sur le logo/titre pour revenir à l'accueil -->
        <a routerLink="/" class="logo-link">
          <h1>Ma Maison d'Édition</h1>
        </a>
      </div>
      <nav class="main-navigation">
        <!-- Lien Accueil -->
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
        <!-- Lien Contact -->
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
        <!-- Lien vers la section Admin -->
        <a routerLink="/admin/login" routerLinkActive="active-link">Admin</a>
        <!-- Lien vers la page de connexion Admin -->
        <a routerLink="/my-orders" routerLinkActive="active">Mes Commandes</a>
      </nav>
    </div>
</header>
